{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
    <div class="card">
            <h5 class="card-header">Delete Review</h5>
            <div class="card-body">
                <h5 class="card-title">Are you sure you want to delete review from {{ name }}</h5>

                <form method="post" action="{% url 'delreview' name.id %}">
                    {% csrf_token %}
                    <a href="{% url 'responses' %}" class="btn btn-primary"><--Go back</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
{% endblock %}